<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.ssafy.trip.dto.plan.PlanDto" alias="PlanDto"/>
        <typeAlias type="com.ssafy.trip.dto.plan.UserPlanDto" alias="UserPlanDto"/>
        <typeAlias type="com.ssafy.trip.dto.plan.PlanCommentDto" alias="PlanCommentDto"/>
        <typeAlias type="com.ssafy.trip.dto.place.PlaceDto" alias="PlaceDto"/>
        <typeAlias type="com.ssafy.trip.dto.place.PlanPlaceDto" alias="PlanPlaceDto"/>
        <typeAlias type="com.ssafy.trip.dto.review.ReviewDto" alias="reviewDto"/>
        <typeAlias type="com.ssafy.trip.dto.user.FollowingDto" alias="followingDto"/>
        <typeAlias type="com.ssafy.trip.dto.user.UserDto" alias="userDto"/>
        <typeAlias type="com.ssafy.trip.dto.review.ReviewCommentDto" alias="reviewCommentDto"/>
        <typeAlias type="com.ssafy.trip.dto.review.ImageDto" alias="reviewImageDto"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/planMapper.xml"/>
        <mapper resource="mybatis/planCommentMapper.xml"/>
        <mapper resource="mybatis/placeMapper.xml"/>
        <mapper resource="mybatis/ReviewMapper.xml"/>
        <mapper resource="mybatis/UserMapper.xml"/>
        <mapper resource="mybatis/ReviewCommentMapper.xml"/>
        <mapper resource="mybatis/ReviewImageMapper.xml"/>
        <mapper resource="mybatis/FollowingMapper.xml"/>
    </mappers>


</configuration>


