<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trip.repository.plan.PlanRepository">
    <resultMap id="PlanDtoMap" type="PlanDto">
        <result column="plan_id" property="plan_id" jdbcType="INTEGER" javaType="int" />
        <result column="user_id" property="user_id" jdbcType="VARCHAR" javaType="String" />
        <result column="title" property="title" jdbcType="VARCHAR" javaType="String" />
        <result column="content" property="content" jdbcType="VARCHAR" javaType="String" />
        <result column="register_time" property="register_time" jdbcType="TIMESTAMP" javaType="String" />
        <result column="start_date" property="start_date" jdbcType="TIMESTAMP" javaType="String" />
        <result column="end_date" property="end_date" jdbcType="TIMESTAMP" javaType="String" />
        <result column="like" property="like" jdbcType="INTEGER" javaType="int" />
        <result column="hit" property="hit" jdbcType="INTEGER" javaType="int" />
        <result column="store" property="store" jdbcType="VARCHAR" javaType="String" />
    </resultMap>

    <resultMap id="UserPlanDtoMap" type="UserPlanDto">
        <result column="plan_id" property="plan_id" jdbcType="INTEGER" javaType="int" />
        <result column="name" property="name" jdbcType="VARCHAR" javaType="String" />
        <result column="vicinity" property="vicinity" jdbcType="VARCHAR" javaType="String" />
        <result column="photo" property="photo" jdbcType="VARCHAR" javaType="String" />
        <result column="url" property="url" jdbcType="VARCHAR" javaType="String" />
        <result column="sequence" property="sequence" jdbcType="INTEGER" javaType="int" />
    </resultMap>

    <resultMap id="PlaneDtoDtoMap" type="PlaneDto">
        <result column="plan_id" property="plan_id" jdbcType="INTEGER" javaType="int" />
        <result column="departure" property="departure" jdbcType="VARCHAR" javaType="String" />
        <result column="arrival" property="arrival" jdbcType="VARCHAR" javaType="String" />
        <result column="price" property="price" jdbcType="VARCHAR" javaType="String" />
        <result column="carrierCode" property="carrierCode" jdbcType="VARCHAR" javaType="String" />
        <result column="numberOfBookableSeats" property="numberOfBookableSeats" jdbcType="VARCHAR" javaType="String" />
        <result column="numberOfStops" property="numberOfStops" jdbcType="VARCHAR" javaType="String" />
        <result column="sequence" property="sequence" jdbcType="INTEGER" javaType="int" />
    </resultMap>

    <resultMap id="RouteDtoMap" type="RouteDto">
        <result column="plan_id" property="plan_id" jdbcType="INTEGER" javaType="int" />
        <result column="formatted_address" property="formatted_address" jdbcType="VARCHAR" javaType="String" />
        <result column="place_id" property="place_id" jdbcType="VARCHAR" javaType="String" />
        <result column="url" property="url" jdbcType="VARCHAR" javaType="String" />
        <result column="photo" property="photo" jdbcType="VARCHAR" javaType="String" />
        <result column="sequence" property="sequence" jdbcType="INTEGER" javaType="int" />
        <result column="idx" property="idx" jdbcType="INTEGER" javaType="int" />
    </resultMap>


    <select id="planRoute" parameterType="int" resultMap="RouteDtoMap">
        select *
        from plan_route
        where plan_id = #{plan_id}
        order by sequence, idx;
    </select>

    <select id="planPlane" parameterType="int" resultMap="PlaneDtoDtoMap">
        select *
        from plan_plane
        where plan_id = #{plan_id}
        order by sequence;
    </select>


    <select id="planPlace" parameterType="int" resultMap="UserPlanDtoMap">
        select *
        from user_plan_info
        where plan_id = #{plan_id}
        order by sequence;
    </select>

    <select id="planList" resultMap="PlanDtoMap">
        select *
        from travel_plan
        where store like "YES"
        order by register_time;
    </select>

    <select id="following_list" parameterType="String" resultMap="PlanDtoMap">
        select *
        from travel_plan
        where store like "YES"
        and user_id in (select following_id from following where user_id = #{user_id})
        order by register_time;
    </select>


    <select id="listByUserId" parameterType="String" resultMap="PlanDtoMap">
        select *
        from travel_plan
        where user_id = #{user_id}
        and store like "YES"
        order by register_time desc;
    </select>

    <insert id="makePlan" parameterType="PlanDto">
        insert into travel_plan
        (user_id, title, content, start_date, end_date, store)
        values(#{user_id}, #{title}, #{content}, #{start_date}, #{end_date}, #{store});
    </insert>

    <select id="getPlanId" parameterType="String" resultType="int">
        select plan_id
        from travel_plan
        where user_id = #{user_id}
        order by register_time desc limit 1;
    </select>

    <delete id="deletePlan" parameterType="int">
        delete
        from travel_plan
        where plan_id = #{plan_id};
    </delete>

    <update id="updatePlan" parameterType="PlanDto">
        update travel_plan
        set title = #{title},
        content = #{content},
        start_date = #{start_date},
        end_date = #{end_date},
        store = #{store}
        where plan_id = #{plan_id};
    </update>

    <select id="detailByPlanId" parameterType="int" resultMap="PlanDtoMap">
        select *
        from travel_plan
        where plan_id = #{plan_id};
    </select>

    <update id="updateHit" parameterType="int">
        update travel_plan
        set hit = hit + 1
        where plan_id = #{plan_id};
    </update>

    <update id="upLike" parameterType="int">
        update travel_plan
        set `like` = `like` + 1
        where plan_id = #{plan_id};
    </update>

    <update id="downLike" parameterType="int">
        update travel_plan
        set `like` = `like` - 1
        where plan_id = #{plan_id};
    </update>

    <insert id="makeLike" parameterType="PlanDto">
        insert into plan_like
        (plan_id, user_id)
        values (#{plan_id}, #{user_id});
    </insert>

    <delete id="deleteLike" parameterType="PlanDto">
        delete from
        plan_like
        where plan_id = #{plan_id} and user_id = #{user_id};
    </delete>
    
    <insert id="userPlanMake" parameterType="UserPlanDto">
        insert into user_plan_info
        (plan_id, name, vicinity, photo, url, sequence)
        values (#{plan_id}, #{name}, #{vicinity}, #{photo}, #{url}, #{sequence});
    </insert>
    
    <delete id="userPlanDelete" parameterType="int">
        delete
        from user_plan_info
        where plan_id = #{plan_id};
    </delete>
    

    <update id="userPlanUpdate" parameterType="UserPlanDto">
        update user_plan_info
        set name = #{name},
        vicinity = #{vicinity},
        photo = #{photo},
        url = #{url},
        sequence = #{sequence}
        where plan_id = #{plan_id};
    </update>


</mapper>